html,
body {
    height: 100%;
}

.non-footer {
    min-height: 100%;
    height: auto;
    margin-bottom: -51px;
    padding-bottom: 51px;
}

.non-footer > .container {
    padding-top: 70px;
}

footer.navbar {
    margin-bottom: 0;
    border-width: 1px 0 0 0;
}

.navbar-text:first-child {
    margin-left: 0;
}

.navbar-text:last-child {
    margin-right: 0;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.left50p {
    float: left;
    width: 49%;
}

.right50p {
    float: right;
    width: 49%;
}

.grid-view {
    margin-top: 2em;
}
